

/* ===============================================================
For all pages
================================================================ */

body{
	margin:30px;
	font-family: serif,Courier,Helvetica;
}

h1{
	text-align: center;
	padding-top: 30px; 
	padding-bottom:10px;
	font-size: 1.5em;  
}
/* --------------------------------------------------------------
For all pages header 
-------------------------------------------------------------- */
.headerBox{
	border-radius: 15px;
	height:126px;
	margin-bottom: 10px;
	background-image : url('../images/header/sky.jpg');
}

.headerNav{
	list-style-type: none;
	height: 22%;
    margin: 0;
    padding: 0px;
    background: #B0C4DE; 
    text-align: center;
}

.headerNav li {
    width: 18%;
    height:100%;
    text-align: center;
}

.headerNav li a {
    color: black;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height:100%;
    
}

.headerNav li a:hover{
	box-sizing: border-box;
    background-color: lightgrey;
}
#indexBody li#index a, #cvBody li#cv a,#inspirationBody li#inspiration a,#foodPhotoBody li#foodPhoto a,#contactBody li#contact a{ 	box-sizing: border-box;
    background-color: lightgrey; }


/* --------------------------------------------------------------
For all pages footer 
-------------------------------------------------------------- */
.footerBox{
	background: #B0C4DE;
	border-radius: 15px;
	margin-top: 10px;
	height: 66px;
}

.footerNav {
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0;
    padding-top:6px;
    text-align: center;
}

.footerBox li {
	display: inline-block;
	padding: 0px 20px;
}
small {
    display: block;
    text-align: center;
}




/* ===============================================================
Media Queries
================================================================ */
/* ===============================================================
====================================================
====================================================
Media Queries          *****TABLET*****
====================================================
====================================================
================================================================ */

@media screen and (min-width: 768px) {
	body{background-color:yellow;}
	h1{
	padding-top: 44px; 
	font-size: 2.5em;
	}
	.onlyForPhone{
		display: none;
	}
	.dropdown{
		display:none;
	}
/* --------------------------------------------------------------
MEDIA Tablet SIZE header
-------------------------------------------------------------- */
	
	.headerBox{
	height:200px;
	}
	.headerNav{
 	overflow: hidden;
	}

	.headerNav li {
	display: inline-block;   
	}

	.headerNav li a {
    line-height: 44px; 
    font-size: 1em;
	}
}




/* ===============================================================
====================================================
====================================================
Media Queries          *****DESKTOP*****
====================================================
====================================================
================================================================ */

@media screen and (min-width: 1024px) {

	body{background-color:blue;}

	h1{
	padding-top: 60px; 
	font-size: 2.8em;
	}

/* --------------------------------------------------------------
MEDIA COMPUTER SIZE header
-------------------------------------------------------------- */
	.headerBox{
		height:250px;
	}
	.headerNav li a {
  	line-height: 55px; 
  	font-size: 1.2em;
	}
/* --------------------------------------------------------------
MEDIA COMPUTER SIZE footer 
-------------------------------------------------------------- */
	.footerNav{
	display:inline-block;
	float:left;
	padding:12px 0px 0px 60px;
   	text-align: right;

	}
	.footerBox li {
	padding: 0px 0px 0px 16px;
	}
small{
	font-size: 1em;
	float:right;
	padding:24px 60px;
	}

}
/* ===============================================================
====================================================
====================================================
Media Queries          *****Only Phone*****
====================================================
====================================================
================================================================ */
@media screen and (max-width: 767px) {
	.onlyforPhone{
		display:block;
	}
	.dropdownBox {
	display:block;
    width:100%;
	}
	.dropdown {
    background-color: #B0C4DE;
  	border-radius: 0px 0px 15px 15px;
    padding: 12px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    width:100%;
    opacity:0.5;
    font-family:serif,Courier,Helvetica;
	}
	.headerNav {
    display: none;
	height: 22%;
    margin: 0;
    padding: 0px;
    background: #B0C4DE; 
    text-align: center;
    opacity:0.9;
	}
.headerNav li {
    width: 100%;
}
.headerNav li a {
    padding: 11.5px 16px;

}
.dropdownBox:hover .headerNav {
	box-sizing: border-box;
    display: block;
}

.dropdownBox:hover .dropdown {
    background-color: transparent;
}
}

/* ===============================================================
Index page
================================================================ */
/* --------------------------------------------------------------
Index page section or content
-------------------------------------------------------------- */
section{
	    display:table-cell;
    	margin:0 auto;
}
#indexA{
	background-color: green;
	border: 3px solid black;

}
#indexB{
	background-color: blue;
	border: 3px solid black;
}
/* ===============================================================
cv page
================================================================ */
/* --------------------------------------------------------------
cv page section or content
-------------------------------------------------------------- */

#cvA{
	background-color: white;
	border: 3px solid black;

}
#cvB{
	background-color: white;
	border: 3px solid black;
}
/* ===============================================================
inspiration page
================================================================ */
/* --------------------------------------------------------------
inspiration page section or content
-------------------------------------------------------------- */


/* ===============================================================
photo page
================================================================ */
/* --------------------------------------------------------------
photo page section or content
-------------------------------------------------------------- */
#photoA{

}
#photoB{

}
#imgBox {

}
#img{
	display:inline-block;
	overflow: hidden;
    object-fit: cover;
    width:100px;
    height:100px;
    float:left;
    padding:5px;
}
div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}
/* ===============================================================
Contact page
================================================================ */
