

/* ===============================================================
For all pages
================================================================ */

body{
	margin:30px;
	font-family: serif,Courier,Helvetica;
}

h1{
	text-align: center;
	padding-top: 30px; 
	padding-bottom:10px;
	font-size: 1.5em;  
}
h2{
	text-align: center;
	font-size: 1.2em;
}
h3{
	display: none;
}
/* --------------------------------------------------------------
For all pages header 
-------------------------------------------------------------- */
.headerBox{
	border-radius: 15px;
	height:126px;
	margin-bottom: 10px;
	background-image : url('../images/header/sky.jpg');
}

.headerNav{
	list-style-type: none;
	height: 22%;
    margin: 0;
    padding: 0px;
    background: #B0C4DE; 
    text-align: center;
}

.headerNav li {
    width: 18%;
    height:100%;
    text-align: center;
}

.headerNav li a {
    color: black;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height:100%;
    
}

.headerNav li a:hover{
	box-sizing: border-box;
    background-color: lightgrey;
}
#indexBody li#index a,#cvBody li#cv a,#inspirationBody li#inspiration a,#photoBody li#photo a,#formBody li#form a{ 	box-sizing: border-box;
    background-color: lightgrey; }


/* --------------------------------------------------------------
For all pages footer 
-------------------------------------------------------------- */
.footerBox{
	background: #B0C4DE;
	border-radius: 15px;
	margin-top: 10px;
	height: 66px;
}

.footerNav {
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0;
    padding-top:6px;
    text-align: center;
}

.footerBox li {
	display: inline-block;
	padding: 0px 20px;
}
small {
    display: block;
    text-align: center;
}



/* ===============================================================
Index page
================================================================ */
/* --------------------------------------------------------------
Index page section or content
-------------------------------------------------------------- */
section{
	    display:table-cell;
    	margin:0 auto;
}

#indexA{
	display:none;
}
#indexB{
	
	padding:5%;
}
/* ===============================================================
cv page
================================================================ */
/* --------------------------------------------------------------
cv page section or content
-------------------------------------------------------------- */
#cvBox{
	border:1px solid;
}
#cvA{
		display:none;
	}
#cvB{
		text-align: center;
			padding:5%;
	}

#education{
		display:none;
	}

/* ===============================================================
inspiration page
================================================================ */
/* --------------------------------------------------------------
inspiration page section or content
-------------------------------------------------------------- */

#inspirationAForTb{
		display:none;
	}
#inspirationAForPc{
		display:none;
	}
#inspirationB{
		text-align: center;
		padding-top: 15px;
	}

/* ===============================================================
photo page
================================================================ */
/* --------------------------------------------------------------
photo page section or content
-------------------------------------------------------------- */
#photoBox{
	background:#F7E5F5;
}
#photoA{
    display:none;
  }
#photoB{
    padding-left:10px;
  } 

.img{
	display:inline-block;
	overflow: hidden;
    width:77px;
    height:77px;
    padding:2px;
}
div.img:hover {
    border: 1px solid lightgrey;
}

div.img img {
    width: 100%;
    height: auto;
}
/* ===============================================================
Contact page
================================================================ */
textarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 10px;
}

#formB{
	margin: 0 auto;
	background-color:#F7E5F5;
	width: 9999px;
}
table{
	    margin-left:auto; 
    	margin-right:auto;
}


/* ===============================================================
====================================================
====================================================
Media Queries          *****Only Phone*****
====================================================
====================================================
================================================================ */
@media screen and (max-width: 767px) {
	.onlyforPhone{
		display:block;
	}
	.dropdownBox {
	display:block;
    width:100%;
	}
	.dropdown {
    background-color: #B0C4DE;
  	border-radius: 0px 0px 15px 15px;
    padding: 12px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    width:100%;
    opacity:0.5;
    font-family:serif,Courier,Helvetica;
	}
	.headerNav {
    display: none;
	height: 22%;
    margin: 0;
    padding: 0px;
    background: #B0C4DE; 
    text-align: center;
    opacity:0.9;
	}
.headerNav li {
    width: 100%;
}
.headerNav li a {
    padding: 11.5px 16px;

}
.dropdownBox:hover .headerNav {
	box-sizing: border-box;
    display: block;
}

.dropdownBox:hover .dropdown {
    background-color: transparent;
}
}


/* ===============================================================
Media Queries
================================================================ */
/* ===============================================================
====================================================
====================================================
Media Queries          *****TABLET*****
====================================================
====================================================
================================================================ */

@media screen and (min-width: 768px) {
	h1{
	padding-top: 44px; 
	font-size: 2.5em;
	}
	h2{
		font-size: 1.5em;
	}
	.onlyForPhone{
		display: none;
	}
	.dropdown{
		display:none;
	}
/* --------------------------------------------------------------
MEDIA Tablet SIZE header
-------------------------------------------------------------- */
	
	.headerBox{
	height:200px;
	}
	.headerNav{
 	overflow: hidden;
	}

	.headerNav li {
	display: inline-block;   
	}

	.headerNav li a {
    line-height: 44px; 
    font-size: 1em;
	}
/* --------------------------------------------------------------
MEDIA Tablet SIZE cvcvcv
-------------------------------------------------------------- */
	#indexBox{
		display:table;
		}
	#indexA{
			display:table-cell;
			background-image : url('../images/contents/me.jpg');
			width:512px; /*Change*/
		}

/* --------------------------------------------------------------
MEDIA Tablet SIZE cvcvcv
-------------------------------------------------------------- */
	#cvBox{
		border: 3px solid; 
		}
	#cvA{
			display:block;
			width:100%;
			height: 200px;
			background-image : url('../images/contents/cvbg.jpeg');
			border-bottom: 3px solid;
		}
	#cvB{
		
		text-align: left;
	
		}
	#personalData{
		columns:2;
		}
	#education{
		display: block;
		columns: 4;
		}
/* --------------------------------------------------------------
MEDIA Tablet SIZE inspiration
-------------------------------------------------------------- */
		#inspirationBox{
		background-image : url('../images/contents/inspirationbgtb.jpg');

		}
		#inspirationAForTb{
			display:block;
			overflow: hidden;
		}
		#inspirationAForPc{
			display:none;
		}
/* --------------------------------------------------------------
MEDIA Tablet SIZE photo & Form
-------------------------------------------------------------- */
	#formB,#photoBox{
	background-color:#D1EDD0;
	}	
	.img{
        width:100px;
        height:100px;
        padding:4px;
    }




}




/* ===============================================================
====================================================
====================================================
Media Queries          *****DESKTOP*****
====================================================
====================================================
================================================================ */

@media screen and (min-width: 1024px) {


	h1{
	padding-top: 60px; 
	font-size: 2.8em;
	}
	h2{
		font-size: 1.8em;
	}

/* --------------------------------------------------------------
MEDIA COMPUTER SIZE header
-------------------------------------------------------------- */
	.headerBox{
		height:250px;
	}
	.headerNav li a {
  	line-height: 55px; 
  	font-size: 1.2em;
	}
/* --------------------------------------------------------------
MEDIA COMPUTER SIZE footer 
-------------------------------------------------------------- */
	.footerNav{
	display:inline-block;
	float:left;
	padding:12px 0px 0px 60px;
   	text-align: right;

	}
	.footerBox li {
	padding: 0px 0px 0px 16px;
	}
small{
	font-size: 1em;
	float:right;
	padding:24px 60px;
	}
/* --------------------------------------------------------------
MEDIA COMPUTER SIZE Index
-------------------------------------------------------------- */
	#indexBox{
		display: block;
	}
	#indexA{
			display:block;
			width:100%;
			height: 200px;
			background-image : url('../images/contents/pirates.jpg');	
		}
/* --------------------------------------------------------------
MEDIA COMPUTER SIZE CVCV
-------------------------------------------------------------- */
	
	#cvBox{
		display:table;
		}
	#cvA{
			display:table-cell;
		}
	#education{
		display: none;
	}
	.onlyForPhone{
		display: table-cell;
	}
/* --------------------------------------------------------------
MEDIA COMPUTER SIZE inspiration 
-------------------------------------------------------------- */
	#inspirationBox{
			display: table;
		}

	#inspirationAForTb{
			display:none;
		}
	#inspirationAForPc{
			display:table-cell;
		}
	#inspirationB{
			vertical-align: middle;
		}
/* --------------------------------------------------------------
MEDIA COMPUTER SIZE photo & Form
-------------------------------------------------------------- */
	#formB,#photoBox{
	background-color: #e2e6f7;

	}	
	.img{
        width:200px;
        height:200px;
    }


}
